<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435429712718-fiv6kq7n4or2jvpi1nnliof5e4qgm178.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435429712718-fiv6kq7n4or2jvpi1nnliof5e4qgm178</string>
	<key>API_KEY</key>
	<string>AIzaSyC21e5kC5VIWNd-jQXUXSWtQijuVOe8kyM</string>
	<key>GCM_SENDER_ID</key>
	<string>435429712718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sky.sky.firebaseAuthFirebaseStorageApp</string>
	<key>PROJECT_ID</key>
	<string>bloc-photo-library-sky</string>
	<key>STORAGE_BUCKET</key>
	<string>bloc-photo-library-sky.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435429712718:ios:9e24591c0d81cc014cf41f</string>
</dict>
</plist>